@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,var(--text-font-weight),700|Jaini+Purva:400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  display: flex;
}
button:focus-visible,
a:focus-visible,
input:focus-visible,
summary:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline-offset: 2px;
}
a {
  text-decoration: none;
}
