:root {
  --x-4: rgba(255, 255, 255, 0.8);
  --text-font-family: "Montserrat", Helvetica;
  --text-font-weight: 400;
  --text-font-size: 16px;
  --text-letter-spacing: -0.32px;
  --text-line-height: normal;
  --text-font-style: normal;
  --1: ;
}
